html, body {
  margin: 0;
  padding: 0;
  background: aquamarine;

}

.button {
font-size: 17px;
width: 100px;
margin: auto;
margin-top: 20px;
cursor: pointer;
border: solid 3px gray;
border-radius: 5px;
text-align: center;
color: #fff;

}
#gameTitle{
  margin-top: 60px;
  text-align: center;
  font-size: 40px;
  color: #fff;
}


#gameContent{
  margin: auto;
  width: 800px;
  height: 400px;
  position: relative;
  overflow: hidden;
  background: aqua;

}
#wordHolder {
  margin-top: 50px;
  margin-left: 150px;
}
#guesses{
  margin-top:20px;
  margin-left: 150px;
}
#feedback{
  margin-top: 20px;
  margin-left: 150px;
  font-size: 32px;
  color: #fff;
}

.tile {
  float: left;
  height: 40px;
  width: 40px;
  background-color: white;
  text-align: center;
  font-size: 26px;
  color: #333;
  padding-top: 5px;
  margin: 0px 5px;
}