html, body {
  margin: 0;
  padding: 0;
  background: #eebd8b;

}
@font-face {
  font-family: "Pokemon-solid";
  src: url(Pokemon-Solid.ttf);
  
}
@font-face {
  font-family: "Pokemon-hollow";
  src: url(Pokemon-Hollow.ttf); 
}
h1 {
 font-family: "Pokemon-hollow";
 color: #186a62;
 text-align: center;
 background: #ffeebd;
 border: 5px solid #5a3920;
}

.button {
position: relative;
font-size: 32px;
padding: 15px;
margin: auto;
margin-bottom: 20px;
margin-top: 25%;
cursor: pointer;
border: solid 5px #5a3920;
border-radius: 5px;
text-align: center;
background: #186a62;
font-family: "Pokemon-hollow";
color: #fff;

}
#gameTitle{
  margin-top: 60px;
  text-align: center;
  font-size: 40px;
 color: #186a62;
}
#lives {
  color: #ffeebd;
  margin: 50px auto;
  font-size: 30px;
}

#gameContent{
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 80%;
  position: relative;
  overflow: hidden;
  background: #ee9c39;
  border: 5px solid #186a62;

}
#wordHolder {
  margin: 30px auto;
}
#guesses{
  margin: 30px auto;
  color: #ffeebd;
  font-size: 30px;
}
#feedback{
  margin: auto;
  font-size: 36px;
  color: #ffeebd;
  text-align: center;
  
}

.tile {
  float: left;
  height: 60px;
  width: 60px;
  padding: 5px 0px;
  background-color: white;
  text-align: center;
  font-size: 40px;
  font-family: "pokemon-solid";
  color: #186a62;
  margin: 0px 5px;
}
#gameContent img {
  display: block;
  margin: auto;
  margin-top: 80px;
  width: 200px;
  border: 5px solid #186a62;
  border-radius: 10%;
}
@media screen and (max-width:800px) {
  .tile {
    height: 40px;
    width: 40px;
    font-size: 26px;
  }
  .button {
  font-size: 24px;
  }
}
@media screen and (max-width:660px) {
  .tile {
    height: 30px;
    width: 28px;
    margin: 0px 2px;
  }
  #guesses {
    

  }
}

@media screen and (max-width:400px) {
  .tile {
    height: 20px;
    width: 20px;
    font-size: 20px;
    
  }
  #guesses{
    font-size: 20px;
  }
  #lives{
    font-size: 20px;
  }
  #feedback {
    font-size: 20px;
  }
  .button {
    font-size: 24px;

  }
}