html, body {
  margin: 0;
  padding: 0;
  background: #eebd8b;

}
@font-face {
  font-family: "Pokemon-solid";
  src: url(Pokemon-Solid.ttf);
  
}
@font-face {
  font-family: "Pokemon-hollow";
  src: url(Pokemon-Hollow.ttf); 
}
h1 {
 font-family: "Pokemon-hollow";
 color: #186a62;
 text-align: center;
 background: #ffeebd;
}

.button {
  position: absolute;
  bottom: 10px;
  right: 10px;
font-size: 32px;
width: 200px;
margin: auto;
margin-top: 25%;
cursor: pointer;
border: solid 5px #5a3920;
border-radius: 5px;
text-align: center;
background: #186a62;
font-family: "Pokemon-hollow";
color: #fff;

}
#gameTitle{
  margin-top: 60px;
  text-align: center;
  font-size: 40px;
 color: #186a62;
}
#lives {
  color: #ffeebd;
  margin: auto;
  font-size: 30px;
}

#gameContent{
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 800px;
  height: 400px;
  position: relative;
  overflow: hidden;
  background: #ee9c39;

}
#wordHolder {
  margin: auto;
}
#guesses{
  margin: auto;
  color: #ffeebd;
  font-size: 30px;
}
#feedback{
  margin: auto;
  font-size: 36px;
  color: #ffeebd;
  background: #5a3920;
  
}

.tile {
  float: left;
  height: 60px;
  width: 60px;
  background-color: white;
  text-align: center;
  font-size: 40px;
  font-family: "pokemon-solid";
  color: #186a62;
  margin: 0px 5px;
}
#gameContent img {
  display: block;
  margin: auto;
  margin-top: 80px;
  width: 200px;
  border: 5px solid #186a62;
  border-radius: 10%;
}